.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #34495e;
    margin-bottom: 0px;
}

.tag h3 {
    color: white;
}

.tag:hover {
    background: #ff7f50 ;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.title {
    text-align: center;
    padding-top: 20px;
    color: #34495e;
}

.link {
    text-decoration: none;
    color: black;
}
